<!DOCTYPE html>
<html lang="en"  xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

<form th:method="GET" th:action="@{/products/{id_product}(id_product=${product.getId()})}" th:object="${product}">
    <label for="name">Enter name</label>
    <input type="text" th:field="*{name}"  id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</div>

    <label for="category_id">Enter category_id</label>
    <input type="text" th:field="*{category_id}"  id="category_id"/>
    <div style="color:red" th:if="${#fields.hasErrors('category_id')}" th:errors="*{category_id}">category_id error</div>

    <label for="price">Enter price</label>
    <input type="text" th:field="*{price}"  id="price"/>
    <div style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">error price</div>

    <label for="quantity">Enter quantity</label>
    <input type="text" th:field="*{quantity}"  id="quantity"/>
    <div style="color:red" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">quantity error</div>

    <label for="supplier_id">Enter supplier_id</label>
    <input type="text" th:field="*{supplier_id}"  id="supplier_id"/>
    <div style="color:red" th:if="${#fields.hasErrors('supplier_id')}" th:errors="*{supplier_id}">supplier_id error</div>

    <input type="submit" value="Редактировать!"/>
</form>

</body>
</html>